/*

    Custom Styles for this site.

*/
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
    }

.form-control:focus{
    border-color: #A9A9A9;  box-shadow: none; -webkit-box-shadow: none;
    }

.has-error .form-control:focus{
    box-shadow: none; -webkit-box-shadow: none;
    }

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    }

.form-signin .checkbox {
    font-weight: 400;
    }

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    }

.form-signin .form-control:focus {
    z-index: 2;
    }

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

.grid-fix {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    margin: auto;
    }

li.borderless {
    border-top: 0 none;
    border-bottom: 0 none;
    }

.profile-image {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.brand-logo {
    width: 30px; 
    height: 30px; 
    margin-right: 10px;
}

.timer-dropdown {
    width: 25em;
}

.link_style {
    text-decoration: none;
    color: black;
}

.link_style:hover  {
    text-decoration: none;
    color: #000;
}

a.link_style {
    text-decoration: none;
    color: #000;
}

.droparea {
    width: 85%;
    height: 200px;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    float: left;
    line-height: 200px;
    text-align: center;
}
