{% extends "header.html" %}

{% block body %}

    <div class="container-fluid">
        <div class="text-center">
            <br>
            <h1 class="display-4 text-muted"><cite>That's a negative Ghost rider</cite></h1>
            <br>
            <img style="opacity: 0.1;" src="{{ url_for('static', filename='images/thumbs-down-solid.svg') }}" class="rounded mx-auto d-block figure-img img-fluid" width="128" height="128" alt="">
            <br>
            <h3 class="text-muted"><small class="text-muted">That request method is not allowed.</small></h3>
        </div>
    </div>

{% endblock %}