{% extends "header.html" %}


{% block body %}

    <nav class="d-none d-lg-block" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-muted" style="text-decoration: none;" href="{{ url_for('settings') }}">Settings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add an Endpoint</li>
        </ol>
    </nav>

    <div class="container-fluid grid-fix">

        <br>
        <p class="display-4">Add an Endpoint:</p>
        <br>
        <form>
        <form action="" class="form-inline" method="post">
            <input type="text" class="form-control" placeholder="Endpoint Name" name="endpoint_name" value="{{ request.form.endpoint_name }}">
            <br>
            <input type="text" class="form-control" placeholder="Hostname" name="hostname" value="{{ request.form.hostname }}">
            <br>
            <input type="text" class="form-control" placeholder="IP Address" name="ip_addr" value="{{ request.form.ip_addr }}">
            <br>
            <input type="text" class="form-control" placeholder="ZIP Code" name="zip_code" value="{{ request.form.zip_code }}">
            <br>
            <input class="btn btn-secondary" type="submit" value="Add Endpoint">
        </form>

    </div>

{% endblock %}