{% extends "header.html" %}

{% block body %}

    <div class="container-fluid">
        <div class="text-center">
            
            <h1 class="display-4 text-muted">OOPS, let's just keep this error between us.</h1>
            <img style="opacity: 0.1;" src="{{ url_for('static', filename='images/laugh-wink-solid.svg') }}" class="rounded mx-auto d-block figure-img img-fluid" width="128" height="128" alt="">
            <button onclick="goBack()" class="btn btn-secondary">Go Back</button>


            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
<hr class="my-4">
    <div class="container">
            <p class="h6">Full Error:</p>

            <pre>
                <code>
                    <p class="mb-0 text-muted">{{ error }}</p>
                </code>
            </pre>
    </div>
    </div>

{% endblock %}