{% extends "header.html" %}


{% block body %}
<br>
    <div class="container-fluid" style="max-width: 75%;">
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true" style="text-decoration: none; color: black;">
                    Login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false" style="text-decoration: none; color: black;">
                    Sign Up
                </a>
            </li>
        </ul>
        <!-- Login Form -->
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <form class="form-signin">
                    <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-secondary btn-block" type="submit">Login</button>
                    <!-- <p class="mt-5 mb-3 text-muted">&copy; 2019</p> -->
                </form>    
            </div>

            <!-- Sign Up Form -->
            <div class="tab-pane" id="signup" role="tabpanel" aria-labelledby="signup-tab">                
                <form class="form-signin">
                        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                        
                        <label for="firstName" class="sr-only">First Name</label>
                        <input type="fname" id="firstName" class="form-control" placeholder="First Name" required autofocus>

                        <label for="lastName" class="sr-only">Last Name</label>
                        <input type="lname" id="lastName" class="form-control" placeholder="Last Name" required autofocus>

                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

                        <label for="inputPassword" class="sr-only">Confirm Password</label>
                        <input type="password" id="confirm_inputPassword" class="form-control" placeholder="Confirm Password" required>

                        <button class="btn btn-lg btn-secondary btn-block" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}