{% extends "header.html" %}
{% block body %}
    <div class="container-fluid grid-fix">
        <p class="display-4">Monitoring</p>

<!-- start of quick view info -->
<div class="card-group">
  <div class="card">
    <div class="card-body text-center text-success">
      <h5 class="card-title">Total Endpoints</h5>
      <p class="card-text h1">{{ t_endpoints }}</p>
    </div>
  </div>
    <div class="card">
    <div class="card-body text-center text-warning">
      <h5 class="card-title">Endpoint Warnings</h5>
      <p class="card-text h1">{{ warn_endpoints }}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center text-danger">
      <h5 class="card-title">Endpoints Down</h5>
      <p class="card-text h1">{{ down_endpoints }}</p>
    </div>
  </div>
</div>
<br>

<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary" type="button">Content will refresh every : </button>
  </div>
  <select class="custom-select timer-dropdown" id="inputGroupSelect03">
    <option selected>0s</option>
    <option value="1">30s</option>
    <option value="2">1m</option>
    <option value="3">5m</option>
    <option value="3">10m</option>
    <option value="3">15m</option>
  </select>
</div>

<!-- end of quick view info -->
<!--        <div style="padding:15px;" id="curve_chart"></div> <!-- Graph  -->
<br>
<!-- Attempted Dynamic Server List -->      
        <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Host</th>
                            <th scope="col">Last Check</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for host in host_l %}
                        <tr class="">
                        <td><a href="#" style="text-decoration: none; color: black;">{{ host[2] }}</a></td>
                        <td>{{ host[0] }}</td>
                        {% if host[1] == 1 %}
                          <td data-toggle="tooltip" data-html="true" data-placement="top" title="<em>22</em><i>ms</i> Response" style="color:green;">Online</td>
                        {% elif host[1] == 0 %}
                          <td style="color:red;">Offline</td>
                        {% elif host[1] == 2 %}
                          <td data-toggle="tooltip" data-html="true" data-placement="top" title="<em>22</em><i>ms</i> Response" style="color:orange;">Warning</td>
                        {% else %}
                          <td>NA</td>
                        {% endif %}
                        </tr>
                    {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{%- endblock %}