{% extends "header.html" %}


{% block body %}

    <nav class="d-none d-lg-block" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-muted" style="text-decoration: none;" href="{{ url_for('settings') }}">Settings</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
    </nav>

    <div class="container-fluid grid-fix">
       <p class="display-4">My Account</p>

       <div class="accordion" id="accordionSettings">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" style="text-decoration: none; color: black;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Account Settings & Information
                    </button>
                </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSettings">
                    <div class="card-body">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item borderless">First Name : {{ user_results[0] }}</li>
                    <li class="list-group-item borderless">Last Name : {{ user_results[1] }}</li>
                    <li class="list-group-item borderless">Email : {{ user_results[2] }}</li>
                    <li class="list-group-item borderless">Username : {{ c_user }}</li>
                    <li class="list-group-item borderless">Roles : </li>
                    <li class="list-group-item borderless">Last Login : {{ user_results[3] }}</li>
                    <li class="list-group-item borderless">Last Invalid Login : {{ user_results[4] }}</li>
                    <li class="list-group-item borderless">Account Creation : {{ user_results[5] }}</li>
                    <li class="list-group-item borderless">Timezone : {{ user_results[6] }}</li>
                    </ul>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" style="text-decoration: none; color: black;" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Change Password
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSettings">
                    <div class="card-body">
                        <form action="" class="form-inline" method="post">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item borderless"><input type="password" class="form-control" placeholder="Old Password" name="old_password" value="{{ request.form.old_password }}"></li>
                                <li class="list-group-item borderless"><input type="password" class="form-control" placeholder="Password" name="password" value="{{ request.form.password }}"></li>
                                <li class="list-group-item borderless"><input type="password" class="form-control" placeholder="Confirm Password" name="c_password" value="{{ request.form.c_password }}"></li>
                                <li class="list-group-item borderless"><input class="btn btn-default" type="submit" value="Change Password"></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" style="text-decoration: none; color: black;" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Contact Groups
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSettings">
                    <div class="card-body">
                        <ul class="list-group">
                          <li class="list-group-item"><a style="text-decoration: none; color: black;" href="#">Add Contact Group</a></li>
                          <li class="list-group-item"><a style="text-decoration: none; color: black;" href="#">Edit Contact Group</a></li>
                          <li class="list-group-item"><a style="text-decoration: none; color: black;" href="#">Contact Group Tree</a></li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>

    </div>

{% endblock %}