{% extends "header.html" %}


{% block body %}

    <nav class="d-none d-lg-block" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-muted" style="text-decoration: none;" href="{{ url_for('settings') }}">Settings</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
    </nav>

    <div class="container-fluid grid-fix">

        <br>
        <p class="display-4">My Account</p>
        <br>
        <p>Account Settings and Information</p>

    </div>

{% endblock %}