{% extends "header.html" %}


{% block body %}

    <div class="container-fluid grid-fix">
        <p class="display-4">Settings</p>

        <div class="shadow-none p-3 mb-5 bg-light rounded">User Administration</div>
        <p>User Administration</p>
        <br>
        <div class="shadow-none p-3 mb-5 bg-light rounded">Hosts</div>
        <p>Hosts</p>
        <br>
        <div class="shadow-none p-3 mb-5 bg-light rounded">Contacts</div>
        <p>Contacts</p>
        <br>
        <div class="shadow-none p-3 mb-5 bg-light rounded">NetPop Settings</div>
        <p>NetPop Settings</p>
        <br>
    </div>

{% endblock %}