{% extends "header.html" %}


{% block body %}

<div class="container-fluid grid-fix">
    <br>
    <h4>Please enter your new password:</h4>
    <br>
    <form action="" class="form-inline" method="post">
        <input type="password" class="form-control" placeholder="Password" name="password" value="{{ request.form.password }}">
        <input type="password" class="form-control" placeholder="Confirm Password" name="c_password" value="{{ request.form.c_password }}">
        <input class="btn btn-default" type="submit" value="Change Password">
    </form>
</div>

{% endblock %}